.FamilyList {
  width: 100%;
  height: 100%;
  padding: 0 20px;

  .list-title {
    font-size: 24px;
  }

  .list-top {
    display: flex;
    margin: 16px 0 8px 0;
    align-items: center;
    justify-content: space-between;
  }

  .family-list-titles {
    background: #171717;
    color: #fff;
    margin: 0 0 4px 0;
    border-bottom: 4px solid #454545;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .family-list-children {
    &:nth-child(even) {
      background: #ededed;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .family-list-titles,
  .family-list-children {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4px;

    .title,
    .list {
      padding: 0 4px;
      flex: 0 12.5%;
    }

    button {
      &:first-child {
        margin: 0 4px 0 0;
      }

      &:last-child {
        margin: 0 0 0 4px;
      }
    }
  }
}
