@import "~antd/dist/antd.css";

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container {
  .ant-menu-item {
    padding: 0px 5px;
  }

  .ant-menu-submenu-title {
    padding: 10px 20px;
  }

  .ant-menu-item a,
  .ant-menu-submenu-title a {
    padding: 10px 15px;
  }

  .ant-menu-horizontal {
    border-bottom: none;
  }

  .menu_left {
    float: left;
  }

  .menu_rigth {
    float: right;
  }

  .menu__mobile-button {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none !important;
    background: #3e91f7;
  }
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}
