.AdminPage {
  padding: 24px;

  .register-button {
    position: relative;
    margin: 0 0 8px 0;
    left: 100%;
    transform: translateX(-100%);
  }

  .user-list-custom {
    position: relative;
    background: #ededed;
    color: #000;
    padding: 56px 16px 16px 16px;
    display: flex;
    border-radius: 16px;
    margin: 0 0 16px 0;
    overflow: hidden;

    .user-status {
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: #171717;
      border-bottom: 2px solid #454545;
      width: 100%;
      color: #fff;
      min-height: 50px;

      .member-button {
        position: absolute;
        left: 0;
      }

      button {
        margin: 0 0 0 8px;
      }
    }
  }

  .user-list-titles {
    max-width: 20%;
    width: 100%;

    .title-main {
      font-size: 16px;
      font-weight: bold;
    }

    .title {
      margin: 0 0 0 8px;
    }
  }

  .user-family-list {
    max-width: 80%;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;

    .list-items {
      width: 100%;
      max-width: 20%;
      flex: 0 0 20%;
    }

    .list-item {
      margin: 0 0 2px 0;

      .ant-btn-primary {
        margin: 0 8px 0 0;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .form-button {
    margin: 0 8px;
  }
}
