.LandingNoAuth {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 180px 0;
  justify-content: flex-start;
  flex-direction: column;

  .button {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 4px 12px;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 0 4px;

    &.-register {
      background: #1890ff;
    }

    &.-signin {
      background: #10c4b5;
    }
  }
}
